name: CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    ci:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Type check
              run: bun run tsc

            - name: Lint
              run: bun run lint

            - name: Clear Bun cache
              run: bun pm cache rm

            - name: Test
              run: bun test

            - name: Format check
              run: bun run format:check
